* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.container > div {
    border: 1px solid black;
    flex-grow: 1;
}

.circle {
    background-color: white;
    border-radius: 50%;
    width: 2rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item1 {
    background-color: limegreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item2 {
    background-color: deepskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item3 {
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item4 {
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item5 {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item6 {
    background-color: limegreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item7 {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item8 {
    background-color: rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
}